*{
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  font-size: 1.1rem;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: #4472C4;
}

a:hover{
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

p{
  margin: 0 0 1rem;
  text-align: center;
}

h1{
  margin: 0 0 1rem;
  font-size: 2.5rem;
  margin-bottom: .5rem;
  text-align: center;
  color: #3971d1;
}

h2{
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #3971d1;
}

.salon{
  text-align: right;
}

.cv-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  width: 1200px;
  margin: 50px auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.section{
  margin: 0px 0px 0px 0px;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
  text-align: center;
  box-shadow: -4px 4px 6px 0px #3971d1;
}


.section1{
  margin: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
  width: 47.5%;
}

.section2{
  display: block;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 10px;
  width: 47.5%;
}

/* LEFT COLUMN */
.left-column{
  padding: 25px 50px 50px 50px;
  background-color: #3971d1;
  color: white;
  text-shadow: -5px 3px 4px 5px white;
  width: 100%;
}

.left-column h2{
  color: white;
}

.portait{
  border-radius: 35%;
  max-width: 200px;
  max-height: 300px;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

.skills{
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

/* RIGHT COLUMN */
.right-column{
  grid-area: right-column;
  display: grid;
  grid-template-areas: 
    "header"
    "content";
}

/* HEADER */
.header{
  grid-area: header;
  padding: 0px 25px 0px 25px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos{
  columns: 2;
  list-style-type: none;
  padding: 25;
  text-align: space-between;
}

/* CONTENT */
.content{
  padding: 45px 25px 0px 25px;
}

.content1{
  padding: 25px 0px 25px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: -4px 4px 6px 0px #3971d1;
}

.experience-list{
  list-style-type: none;
  text-align: center;
}

#li{
  display: flex;
  flex-direction: row-reverse;
}